img.hoverImages {
    width: 100%;
    height: 200px;
    object-fit: cover;

    margin-top:20px;
    margin-bottom:0px;
    box-shadow: 10px 10px 5px grey;
    transition: all 0.2s ease-out;
}

/* Bottom right text */
.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: gray;
    opacity: 0.7;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    transition: margin 0.2s ease-out;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px black;
    /* font-size: 12px; */
}
/* @media only screen and (min-width: 768px) {
    .bottom-left {
        font-size: 24px;
    }
} */
.bottom-left h1{
    font-size: 12px;

}
@media only screen and (min-width: 768px) {
    .bottom-left h1 {
        font-size: 24px;
    }
}



.mycont {
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.mycont:hover {
    cursor:pointer;
}

.mycont:hover .bottom-left{
    background-color: black;
    margin-bottom:15px;
    text-shadow: 2px 2px 5px gray;
}

.mycont:hover img.hoverImages{
    margin-top: 5px; 
    margin-bottom:15px;
    box-shadow: 10px 25px 5px grey; 
}
